@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&display=swap');

 @plugin "daisyui" {
   themes: abyss --default;
 }
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;





html{
  @apply overflow-x-hidden scroll-smooth
}
/* FONT */
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jost-regular {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
  @apply bg-green-950 text-white tracking-wider;
  font-family: "Jost", sans-serif;
}

section{
  @apply py-20 md:py-28
}

h1{
  @apply text-3xl md:text-4xl xl:text-5xl font-bold
}

h2{
  @apply text-2xl md:text-3xl xl:text-4xl
}

h3{
  @apply text-xl md:text-2xl xl:text-3xl
}
.nav-link{
  @apply text-lg font-bold duration-300;
}

.active{
  @apply text-yellow-500 font-semibold underline
}

.nav-link:hover{
  @apply text-yellow-500
}

.container{
  @apply mx-auto px-4
}


/* BUTTON */
.btn {
  @apply border border-yellow-500 bg-yellow-500 rounded-md px-5 py-1 duration-300
}

.btn span {
  @apply font-bold
}

.btn:hover{
  @apply opacity-80
}

.btn_outline{
  @apply bg-transparent
}

.btn_outline:hover{
  @apply bg-yellow-500
}

/* ANIMATION */
@keyframes moveY {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}
.animate-move {
  animation: moveY 3s linear infinite;
}



/* index.css */

@keyframes rotateX {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-rotate {
  animation: rotateX 15s linear infinite;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}
.animate-scale {
  animation: scaleUp 5s linear infinite;
}

@keyframes slideDownFade {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-slide-down {
  animation: slideDownFade 1s ease-out forwards;
}

@keyframes slideLeftFade {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate-slide-left {
  animation: slideLeftFade 1s ease-out forwards;
}



.popular-card:hover img {
  @apply -top-8
}

.swiper-pagination .swiper-pagination-bullet {
  @apply bg-green-500 w-2.5 h-2.5;
}


